#panel{
	width:70%;
	margin:auto;
	background-color: #e6e6e6;
	min-height:80vh;
	margin-top:8vh;
	padding-bottom:2vh;
	margin-bottom: 3vh;
}

h1{
	text-align:center;
	font-size:40px;
	background-color:#19334d;
	color:white;
	padding:1vh;
}

#box{
	background-color:white;
	min-height:50vh;
	width:90%;
	margin:auto;
	border-radius:20px;
	margin-top:10vh;
	box-shadow: 1px 1px 4px 1px #888888;
}

h2{
	font-size:25px;
	padding:6vh;
}

h3{
	position: absolute;
	font-size:30px;
	margin-top:-1vh;
	margin-left:10vh;
}

form{
	padding:0px 9vh;
	font-size:20px;
}
input{
	margin:1.3vh;
}

p{
	padding:1.5vh 3vh;
	font-size:20px;
	width:max-content;
	border-radius:7px;
	margin: 3vh 7vh;
}

#corr{
	background-color: #b3d9ff;
	color:#006600;
}
#incorr{
	background-color: #ffcccc;
	color:#990000;
}

button{
	font-size:15px;
	padding:10px 20px;
	border:none;
	border-radius: 10px;
	margin:0vh 7vh 7vh 7vh;
}
#submit{
	background-color: #ffff00;
}
#next{
	background-color: #248f24;
	color:white;
}

ul{
	margin:2vh;
	padding:5vh;
}
li{
	padding:1vh;
	font-size:19px;
}

#ans{
	background-color: #29a329;
	color:white;
	font-size:15px;
	padding:2px 6px;
	border-radius:7px;
}

#restart{
	background-color: #007acc;
	color:white;
	margin:2vh 7vh 2vh 7vh;
}